$color_1: #f97247;
$font_color: #ffff;
$font_color_weak: rgba(255, 255, 255, 0.6);
$text_background_1: #191d0a;
$text_background_2: #311212;
$border_color: #ebf29d;
$hover_gradient: linear-gradient(255.96deg, #f99247 0%, #f29da2 100%);
$open_light: linear-gradient(180deg, #f947bc 0%, rgba(249, 71, 124, 0.4) 100%);
$blog_light: linear-gradient(255.96deg, #f99247 0%, #f29da2 100%);
